$backgroundColor: #000;
$white: #cfcfcf;
$links: yellow;
@import 'reset';
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

body {
    font-size: 20px;
    font-family: serif;
    background-color: $backgroundColor;
    color: $white;
    width: 100%;
}

p {
    padding: 1em;
    background-color: #ccc;
    color: #222;
    margin: 1em;
    width: 600px / 960px * 100%;
    @include border-radius(10px);
}

ul {
    @extend p;
    background-color: lightblue;
    li {
        a {
            color: $links;
        }
        &:last-child {
            a {
                color: red;
            }
        }
    }
}