$backgroundColor: #000;
$white: #cfcfcf;
$links: yellow;
@import 'reset';
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

body {
    margin: 2em;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}